 # Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.sqlite3
database.db
.env
*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# React
build/
dist/
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store